# Pandas - Lectura y Salida

In [1]:
import numpy as np
import pandas as pd

### CSV

In [11]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
ruta ="/content/drive/MyDrive/Colab Notebooks/DiplomadoDataScienceV2/PythonDS/ModuloI/pandas/"
#"ruta = "/content/drive/My Drive/Colab Notebooks/"

In [4]:
df = pd.read_csv(ruta+"Ejemplo")
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [ ]:
# Otra forma leer directamente de GitHub

In [6]:
#link="https://raw.githubusercontent.com/eduardool/DiplomadoDS/master/PythonDS/Ejemplo"

link = "https://raw.githubusercontent.com/eduardool/DiplomadoDS/master/PythonDS/Ejemplo"
df = pd.read_csv(link)
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

CSV Salida

In [7]:
df.to_csv(ruta+"Ejemplo2.csv",index=False)

## Excel


Solo importa datos (no imagenes, macros, etc.)

In [8]:
pd.read_excel(ruta+"Ejemplo_Excel.xlsx", 'Sheet1')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [ ]:
#df.to_excel('Ejemplo_Excel.xlsx',sheet_name='Sheet1')

### HTML

Instalar:

    conda install lxml
    conda install html5lib
    conda install BeautifulSoup4
    !pip install lxml
    !pip install html5lib
    !pip install BeautifulSoup4

In [9]:
df = pd.read_html('https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/')#'http://www.fdic.gov/bank/individual/failed/banklist.html')

In [10]:
df[0]

                             Bank Name  ...       Closing Date
0                    Almena State Bank  ...   October 23, 2020
1           First City Bank of Florida  ...   October 16, 2020
2                 The First State Bank  ...      April 3, 2020
3                   Ericson State Bank  ...  February 14, 2020
4     City National Bank of New Jersey  ...   November 1, 2019
..                                 ...  ...                ...
558                 Superior Bank, FSB  ...      July 27, 2001
559                Malta National Bank  ...        May 3, 2001
560    First Alliance Bank & Trust Co.  ...   February 2, 2001
561  National State Bank of Metropolis  ...  December 14, 2000
562                   Bank of Honolulu  ...   October 13, 2000

[563 rows x 6 columns]