# Groupby


Group by permite agrupar filas de datos y aplicar funciones de agregación

In [1]:
import pandas as pd
# Crear DF
data = {'Compania':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Persona':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Ventas':[200,120,340,124,243,350]}

In [2]:
df = pd.DataFrame(data)
df

  Compania  Persona  Ventas
0     GOOG      Sam     200
1     GOOG  Charlie     120
2     MSFT      Amy     340
3     MSFT  Vanessa     124
4       FB     Carl     243
5       FB    Sarah     350

In [3]:
# Agrupar por Compañia
df.groupby('Compania')

In [4]:
porComp = df.groupby("Compania") # se puede grabar como variable

In [5]:
porComp

In [9]:
#Y llamar métodos agregación:
porComp.mean()

          Ventas
Compania
FB         296.5
GOOG       160.0
MSFT       232.0

In [11]:
df.groupby('Compania').mean()
#df.groupby('Compania')['Ventas'].mean()

          Ventas
Compania
FB         296.5
GOOG       160.0
MSFT       232.0

In [12]:
#Más ejemplos de agregación:
porComp.std()

              Ventas
Compania
FB         75.660426
GOOG       56.568542
MSFT      152.735065

In [13]:
porComp.min()

          Persona  Ventas
Compania
FB           Carl     243
GOOG      Charlie     120
MSFT          Amy     124

In [14]:
porComp.max()

          Persona  Ventas
Compania
FB          Sarah     350
GOOG          Sam     200
MSFT      Vanessa     340

In [15]:
porComp.count()

          Persona  Ventas
Compania
FB              2       2
GOOG            2       2
MSFT            2       2

In [16]:
porComp.describe()

         Ventas
          count   mean         std    min     25%    50%     75%    max
Compania
FB          2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0
GOOG        2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
MSFT        2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0

In [17]:
porComp.describe().transpose() # invertir

Compania              FB        GOOG        MSFT
Ventas count    2.000000    2.000000    2.000000
       mean   296.500000  160.000000  232.000000
       std     75.660426   56.568542  152.735065
       min    243.000000  120.000000  124.000000
       25%    269.750000  140.000000  178.000000
       50%    296.500000  160.000000  232.000000
       75%    323.250000  180.000000  286.000000
       max    350.000000  200.000000  340.000000